*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Edu TAS Beginner', cursive;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 2rem;
    max-width: 60%;
}

.quote {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: right;
}

.authorName {
    font-size: 2rem;
    text-align: right;
}

